// colors
$color-fade-light: rgb(43, 42, 42);
$color-fade-dark: rgb(12, 12, 12);
$color-primary-third: #e67e22;
$color-primary-light: #EE712B;
$color-primary-dark: #DC4712;
$color-white: #FBF7F7;
$color-offwhite: #F1E9E3;
$color-black: #000;

// grid
$grid-width: 100rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;