// colors
$color-fade-light: rgb(43, 42, 42);
$color-fade-dark: rgb(12, 12, 12);
$color-primary-third: #e67e22;
$color-primary-light: #EE712B;
$color-primary-dark: #DC4712;
$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-white: #FBF7F7;
$color-offwhite: #F1E9E3;
$color-black: #000;
$color-grey-light-1: #f7f7f7; 
$color-grey-light-2: #eee;
$color-dark-grey: #666;
$color-darker-grey: #333;



// grid
$grid-width: 100rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 4rem;
$gutter_horizontal: 4rem;

// font
$default-font-size: 1.6rem; 