.composition {

    position:relative;

    &__photo--p1{
        position:absolute;
        top: -2rem;
        left: -2rem;
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    }

    &__photo--p2{
        position:absolute;
        top: 20rem;
        left: 3rem;
        width: 65%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    }

    &__photo--p3{
        position:absolute;
        top: 1rem;
        right: 1rem;
        width: 45%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    }
}
