.composition {

    position:relative;

    &__photo {
        position:absolute;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        backface-visibility: hidden;
        transition: all .2s;
        outline-offset: 2rem;
    }

    &__photo--p1 {
        top: 1rem;
        right: 1rem;
        width: 45%;

        @include respond(tab-port) {
            top: 0;
            left: 32rem;
            width: 25%;
        }
        @include respond(phone) {
            top: 0;
            left: 28rem;
            width: 25%;
        }
    }

    &__photo--p2 {
        top: -2rem;
        left: -2rem;
        width: 55%;

        @include respond(tab-port) {
            top: 0;
            left: -3rem;
            width: 30%;
        }
        @include respond(phone) {
            top: 0;
            left: 2rem;
            width: 25%;
        }
    }

    &__photo--p3 {
        top: 20rem;
        left: 3rem;
        width: 65%;

        @include respond(tab-port) {
            top: 0;
            left: 14.5rem;
            width: 30%;
        }
        @include respond(phone) {
            top: 0;
            left: 15rem;
            width: 25%;
        }
    }

    &__photo:hover {
        z-index: 2;
        transform: scale(1.05) translateY(-.5rem);
        outline: 1rem solid $color-primary-dark;
        box-shadow: 0 2.5rem 7rem rgba($color-black, .6);
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    } 
}
