body {
    font-family: "Lato", sans-serif; 
    font-weight: 400;
    line-height: 1.5;
    padding: 3rem;
    color: $color-offwhite;
}

.heading-primary {
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 6rem;
    backface-visibility: hidden;

    &--main {
        display: inline-block;
        font-size: 7rem;
        font-weight: 300;
        letter-spacing: 3.5rem;
        line-height: 7.2rem;
        margin-bottom: .5rem;
        margin-left: 2rem;
        animation: moveInLeft 1s ease-out;
    }
    
    &--sub {
        display: inline-block;
        font-size: 2rem;
        letter-spacing: .5rem;
        font-weight: 700;
        animation: moveInRight 1s ease-out;
    }
    
}